body {
    font-family: 'Prata', serif;
}

div#countup {
    background-color: #CE0000;
    color: ghostwhite;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-weight: 400;
    position: relative;
}

/********************************************************
Box Placements
********************************************************/

.countup-container, .timer-container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.countup-header {
    position: relative;
    height: 19%;
}

.timer-content {
    position: relative;
    height: 100%;
}

.vertical-center-content {
    position: absolute;
    width: 100%;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media (min-width:600px) {
    .vertical-center-content {
        top: 50%;
    }
    
    .countup-header {
        height: 40%;
    }
}

/********************************************************/

/********************************************************
Font Layout
********************************************************/

.countup-header h1 {
    font-size: 2.25em;
    text-transform: capitalize;
    padding-bottom: 15px;
}

.timeamount {
    font-size: 2.25em;
}

.timelabel {
    font-size: 1em;
}

.timer-content .even-smaller * {
    margin: 0px;
}

.timer-content .even-smaller {
    margin-bottom: 25px;
}

@media (max-width:350px) {
    .countup-header h1 {
        font-size: 1.75em;
    }

    .timeamount {
        font-size: 1.75em;
    }

    .timelabel {
        font-size: 1em;
    }

    .timer-content .even-smaller * {
        margin: 0px;
    }

    .timer-content .even-smaller {
        margin-bottom: 25px;
    }
}

@media (min-width:600px) {
    .col-sm-2.even-smaller {
        width: 20%;
        float: left;
        margin: auto;
        text-align: center;
    }
    
    .countup-header h1 {
        font-size: 4em;
    }
}

@media (min-width: 1024px) {
    
    .timeamount {
        font-size: 3em;
    }
    
    .timelabel {
        font-size: 1.75em;
    }
}

@media (min-width: 1200px) {
    .countup-header h1 {
        font-size: 6em;
    }
}