div#countup {
    background-color: #CE0000;
    color: ghostwhite;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-weight: 400;
    position: relative;
}

.timelabel {
    font-size: 20px;
}

.timeamount {
    font-size: 2.5em;
}

.countup-header {
    font-size: 4em;
    text-transform: capitalize;
    font-family: 'Amatic SC', cursive;
}

.countup-container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.timer-content {
    font-family: 'Roboto', sans-serif;
}

.timer-content .even-smaller * {
    margin: 0px;
}

.timer-content .even-smaller {
    margin-bottom: 25px;
}

.countup-header p {
    padding-bottom: 15px;
}

@media (min-width:600px) {
    .col-sm-2.even-smaller {
        width: 20%;
        float: left;
        margin: auto;
        text-align: center;
    }
    
    .countup-header {
        font-size: 7em;
        position: relative;
        height: 45%;
    }
    
    .countup-container {
        position: relative;
        transform: initial;
        top: initial;
        left: initial;
        height: 100%;
        width: 100%;
    }
    
    .vertical-center-content {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
}

@media (min-width: 1200px) {
    .timeamount {
        font-size: 4em;
    }
}