body {
    font-family: 'Prata', serif;
    background-color: #CE0000;
}

div#countup, div#diff-times  {
    color: ghostwhite;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-weight: 400;
    position: relative;
}

#canvas {
    position: absolute;
}


/********************************************************
Downpage Arrows
********************************************************/

.down-page-arrow {
    position: absolute;
    bottom: 2%;
    right: 45.5%;
    font-size: 50px;
    color: #323232;
    opacity: 0.5;
}

a.down-page-arrow:hover, 
a.down-page-arrow:focus, 
a.down-page-arrow:active {
    color: #323232;
    opacity: 1;
}

/*.down-page-arrow {
    display: none;
}*/

@media (min-width:600px) {
    .down-page-arrow {
        right: 50%;
    }
}

/********************************************************
Bootstrap Grid Edits
********************************************************/

@media (min-width:600px) {
    .col-sm-2.block-content {
        width: 20%;
        float: left;
        margin: auto;
        text-align: center;
    }
}

/********************************************************
Vertical Centering Placements
********************************************************/

.align-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.align-header {
    position: relative;
    height: 19%;
}

#diff-times .align-header {
    height: 25%;
}

.align-content {
    position: relative;
    height: 100%;
}

.vertical-center-content {
    position: absolute;
    width: 100%;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#diff-times .align-footer .vertical-center-content {
    top: 87%;
}

@media (max-width:600px) {
    .diff-times .vertical-center-content {
        top: 50%;
    }

    .diff-times .align-header .vertical-center-content {
        top: 45%;
    }
}

@media (min-width:600px) {
    
    .vertical-center-content {
        top: 60%;
    }
    
    #countup .align-header {
        height: 40%;
    }
}

@media (min-width:768px) {
    #diff-times .align-header {
        height: 30%;
    }
}

/********************************************************/

/********************************************************
Font Layout
********************************************************/

.align-header h1 {
    font-size: 2.25em;
    text-transform: capitalize;
    padding-bottom: 15px;
}

.align-footer h1 {
    font-size: 2em;
}

.timeamount {
    font-size: 2.25em;
}

.timelabel {
    font-size: 1em;
}

.align-content .block-content * {
    margin: 0px;
}

.align-content .block-content {
    padding-bottom: 25px;
}

#diff-times .block-content {
    padding-bottom: 6em;
}

#diff-times .block-content:nth-child(n+5) {
    padding-bottom: 0px;
}

@media (max-width:350px) {
    .align-header h1,
    .align-footer h1 {
        font-size: 1.75em;
    }

    .timeamount {
        font-size: 1.75em;
    }
}

@media (min-width:600px) {
    #countup .align-header h1 {
        font-size: 4em;
    }
}

@media (min-width:768px) {
    #diff-times .block-content:nth-child(n+4) {
        margin-bottom: 0px;
    }
    
    #diff-times .align-header h1 {
        font-size: 4em;
    }
    
    .align-footer h1 {
        font-size: 3em;
    }
}

@media (min-width: 1024px) {
    
    .timeamount {
        font-size: 3em;
    }
    
    .timelabel {
        font-size: 1.75em;
    }
}

@media (min-width: 1200px) {
    .align-header h1 {
        font-size: 6em;
    }
}


